// font
$primary-font: "Poppins", sans-serif;
// colors
$main-bg-low: hsla(205, 100%, 24%, 0.774);
$main-bg-high: hsl(205, 100%, 24%);
$secondary-bg: #3e6680;
$input-border-low: hsla(204, 35%, 37%, 0.5);
$input-border-high: hsl(204, 35%, 37%);
$active-bg: #00b295;
$text-white-low: #eaeaea;
$text-white-high: #ffffff;
$text-black-low: #272727;
$text-black-high: #000000;
